<?xml version="1.0" ?>
<model>
    <name>playboard</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Felix Contreras</name>
        <email>felix.contreras@utexas.edu</email>
    </author>
    <description>
       Just a simple outline for 8x8 board
    </description>
</model>
